/* stylelint-disable-next-line selector-class-pattern */
.app_dark_theme {
    --bg-color: #000;
    --inverted-bg-color: #dcd6d6;
    --primary-color: white;
    --secondary-color: yellow;
    --inverted-primary-color: #07073e;
    --inverted-secondary-color: black;
}
