:root {
    --bg-color: #dcd6d6;
    --inverted-bg-color: #000;
    --primary-color: #07073e;
    --secondary-color: black;
    --inverted-primary-color: white;
    --inverted-secondary-color: yellow;
}
